################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ExGame
/Game
/Include/3rdParty
/ls-3d-premium-plus/.vs/ls-3d-premium-plus/v16
/ls-3d-premium-plus/x64
/release-ls-3d-premium-plus
/release-ls-3d-premium-plus.zip
